*:not(.modal-foreground) > .checkin-header {
    background-color: rgba(10,10,10,0.5);
    padding: 20px;
    border-radius: 10px;
}

.checkin-header input {
    width: 100%;
}

.checkin-header input + .fa {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    right: 25px;
    top: 15px;
}

.btn-primary .checkin-sub-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0;
}

.btn.pagination {
    width: 45%;
    font-size: 18px;
    text-align: center;
    padding-right: 0;
}

.btn.pagination:last-of-type {
    float: right;
}

.modal-background {
    background-color: rgba(175,175,175,0.8);
}

.modal-foreground {
    right: 8px;
    background-color: #fcfcfc;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #aaaaaa;
}

.datepicker, .modal-foreground {
    color: #000000;
}

.btn.active {
    box-shadow: inset 2px 3px 5px #000000, 0px 2px 2px #333;
}