tfoot {
    display: none;
}

body {
    background-size: cover !important;
}

.container.body-content {
    padding: 0 30px 0 30px;
    width: 100%;
}

*:not(.modal-content) > .checkin-header {
    background-color: rgba(10,10,10,0.5);
    padding: 20px;
    border-radius: 10px;
}

    *:not(.modal-content) > .checkin-header h1 {
        margin-bottom: 0;
        margin-top: 10px;
    }

.modal-content .checkin-header {
    border-bottom: 1px solid #222222;
    margin-top: 0;
}

.checkin-header {
    padding: 20px;
}

    .checkin-header input {
        width: 100%;
        margin-top: 5px;
    }

.grid, .grid-table {
    overflow-y: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

table.table {
    background-color: rgba(10,10,10,0.5);
    font-size: 21px;
    margin-bottom: 0;
}

table thead {
    background-color: rgba(10,10,10,0.3);
    font-size: 24px;
}

table td {
    text-align: left;
}

.cozy table > tbody > tr td {
    padding: 10px 8px;
}

.three-col-with-controls td:nth-child(3) ~ td {
    width: 100px;
}

.modal-content table thead, .modal-content table tfoot, .modal-content table tbody tr:nth-child(even) {
    background-color: rgba(255,255,255,0.8);
}

    .modal-content table thead a {
        color: #000000;
    }

.modal-content .checkin-body > .row:not(:first-of-type) {
    margin-bottom: 10px;
}

.modal-content table tfoot ul.grid-pager li.active a {
    background-color: #BBBBBB;
    border-color: #BBBBBB;
    color: #FFFFFF;
}

.modal-content table tfoot ul.grid-pager li a {
    color: #000000;
}

.checkin-header input + a > .fa {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    right: 25px;
    top: 15px;
}

.checkin-footer {
    position: relative;
}

.btn {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-primary .checkin-sub-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0;
}

.btn.pagination[disabled] {
    opacity: 0;
}

.btn.pagination {
    width: 45%;
    margin-top: 0;
    font-size: 18px;
    text-align: center;
    padding-right: 0;
}

    .btn.pagination:last-of-type {
        float: right;
    }

.modal-content {
    padding: 20px;
}

.datepicker, .modal-content {
    color: #000000;
}

.btn.active {
    box-shadow: inset 15px 20px 50px #222222, inset -10px -10px 50px #000000;
    border: 0;
}

.bootbox .modal-footer {
    border-color: #cccccc;
}

.grid-pagesize, .grid-itemcount {
    display: none;
}

.bootbox .modal-content {
    background-color: #ffffff;
}

.in-the-middle, .at-the-bottom {
    position: absolute;
    left: 15px;
    right: 15px;
}

.in-the-middle {
    top: 180px;
    bottom: 80px;
}

.at-the-bottom {
    bottom: 0;
}

td.day, th.prev, th.next, th.today, th.datepicker-switch {
    cursor: pointer;
}

    td.day:hover, th.prev:hover, th.next:hover, th.today:hover, th.datepicker-switch:hover, span.month:hover, span.year:hover {
        background-color: #eeeeee;
    }

th.datepicker-switch {
    text-align: center;
}

th.next {
    text-align: right;
}

td.day {
    width: 14.2%;
}

.datepicker-months, .datepicker-years {
    max-width: 300px;
}

span.month, span.year {
    float: left;
    padding: 10px;
}

.large-font {
    font-size: 1.5em;
}