
/* Layout */

.container.body-content {
    padding: 0 20px 0 20px;
    width: 100%;
}

.checkin-header {
    padding: 15px;
    margin-top: 30px;
}

.checkin-header input {
    width: 100%;
    margin-top: 5px;
}

.checkin-header input + a > .fa {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    right: 25px;
    top: 15px;
}

*:not(.modal-content) > .checkin-header {
    background-color: rgba(10,10,10,0.5);
    padding: 20px;
    border-radius: 10px;
}

*:not(.modal-content) > .checkin-header h1 {
    margin-bottom: 0;
    margin-top: 10px;
}

.checkin-footer {
    position: relative;
}

body {
    background-size: cover !important;
}

.datepicker, .modal-content {
    color: #000000;
}

.three-col-with-controls td:nth-child(3) ~ td {
    width: 100px;
}

tfoot {
    display: none;
}


/* Buttons */
button.close {
    color: #000;
}

.btn {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn.active {
    box-shadow: inset 15px 20px 50px #222222, inset -10px -10px 50px #000000;
    border: 0;
}

.btn-primary .checkin-sub-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0;
}

.btn.pagination[disabled] {
    opacity: 0;
}

.btn.pagination {
    width: 45%;
    margin-top: 0;
    font-size: 18px;
    text-align: center;
    padding-right: 0;
}

.btn.pagination:last-of-type {
    float: right;
}

/* Grid Items */

.grid, .grid-table {
    overflow-y: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

table.table {
    background-color: rgba(10,10,10,0.5);
    font-size: 21px;
    margin-bottom: 0;
}

table thead {
    background-color: rgba(10,10,10,0.3);
    font-size: 24px;
}

table td {
    text-align: left;
}

table td.expanded{
    padding-left: 20px;
    min-width: 300px;
}

table td.expanded:first-child {
    padding-left: 0;
}

.cozy table > tbody > tr td {
    padding: 10px 8px;
}

td.day, th.prev, th.next, th.today, th.datepicker-switch {
    cursor: pointer;
}

td.day:hover, th.prev:hover, th.next:hover, th.today:hover, th.datepicker-switch:hover, span.month:hover, span.year:hover {
    background-color: #eeeeee;
}

th.datepicker-switch {
    text-align: center;
}

th.next {
    text-align: right;
}

td.day {
    width: 14.2%;
}

/* Miscellaneous */
.in-the-middle, .at-the-bottom {
    position: absolute;
    left: 15px;
    right: 15px;
}

.in-the-middle {
    top: 180px;
    bottom: 80px;
}

.at-the-bottom {
    bottom: 0;
}

.datepicker-months, .datepicker-years {
    max-width: 300px;
}

span.month, span.year {
    float: left;
    padding: 10px;
}

.large-font {
    font-size: 1.5em;
}

.expanded {
    margin-bottom: 10px;    
}

.centered {
    margin: auto;
    text-align: center;
}

.checkout {
    position:absolute;
    min-width: 300px;
    width: auto;
    right: 20px;
    bottom: 0px;
}

/* Bootstrap Modals */

.modal-open {
	overflow: hidden;
}

/* add a scroll bar to stop page from jerking around */
.modal-open.page-overflow .page-container,
.modal-open.page-overflow .page-container .navbar-fixed-top,
.modal-open.page-overflow .page-container .navbar-fixed-bottom,
.modal-open.page-overflow .modal-scrollable {
	overflow-y: scroll;
}

@media (max-width: 979px) {
	.modal-open.page-overflow .page-container .navbar-fixed-top,
	.modal-open.page-overflow .page-container .navbar-fixed-bottom  {
		overflow-y: visible;
	}
}

.modal-scrollable {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.modal {
	outline: none;
	position: absolute;
	margin-top: 0;
	top: 50%;
	overflow: visible;
}

.modal.fade {
	top: -100%;
	-webkit-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;	
	   -moz-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
	     -o-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
	        transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
}

.modal.fade.in {
	top: 50%;
}

.modal-body {
	max-height: none;
	overflow: visible;
}

.modal.modal-absolute {
	position: absolute;
	z-index: 950;
}

.modal .loading-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	border-radius: 6px;
}

.modal-backdrop.modal-absolute{
	position: absolute;
	z-index: 940;
}

.modal-backdrop, 
.modal-backdrop.fade.in{
	opacity: 0.7;
	filter: alpha(opacity=70);
	background: #000;
}

.modal.container {
  width: 940px;
  margin-left: -470px;
}

/* Modal Overflow */

.modal-overflow.modal {
	top: 1%;
}

.modal-overflow.modal.fade {
	top: -100%;
}

.modal-overflow.modal.fade.in {
	top: 1%;
}

.modal-overflow .modal-body {
	-webkit-overflow-scrolling: touch;
}

/* Responsive Modals */

@media (min-width: 1200px) {
	.modal.container {
		width: 1170px;
		margin-left: -585px;
	}
}

@media (max-width: 979px) {
	.modal, 
	.modal.container,
	.modal.modal-overflow 	{
		top: 1%;
		right: 1%;
		left: 1%;
		bottom: auto;
		width: auto !important;
		height: auto !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	
	.modal.fade.in, 
	.modal.container.fade.in,
	.modal.modal-overflow.fade.in {
		top: 1%;
		bottom: auto;
	}
	
	.modal-body,
	.modal-overflow .modal-body {
		position: static;
		margin: 0;
		height: auto !important;
		max-height: none !important;
		overflow: visible !important;
	}
	
	.modal-footer,
	.modal-overflow .modal-footer {
		position: static;
	}
}

/* Modal Colors */

.modal-content .checkin-header {
    border-bottom: 1px solid #222222;
}

.modal-content .checkin-header h2 {
    font-weight: bold;
}

.modal-content table thead, .modal-content table tfoot, .modal-content table tbody tr:nth-child(even) {
    background-color: rgba(255,255,255,0.8);
}

.modal-content table thead a {
    color: #000000;
}

.modal-content table tfoot ul.grid-pager li.active a {
    background-color: #BBBBBB;
    border-color: #BBBBBB;
    color: #FFFFFF;
}

.modal-content table tfoot ul.grid-pager li a {
    color: #000000;
}

.bootbox .modal-footer {
    border-color: #cccccc;
}

.bootbox .modal-content {
    background-color: #ffffff;
}